---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';

export async function getStaticPaths() {
  const videos = await getCollection('videos');

  return videos.map(function (video) {
    return {
      params: { slug: video.slug },
      props: { video }
    }
  });
}

const { video } = Astro.props;
const { Content } = await video.render();
---

<Layout title="Not a rabbit hole.">
  <main>
    <a href="/">&larr;</a>
    <div class="tube">
    <Content />
    </div>
  </main>
</Layout>
<style>
  a {
    text-decoration: none;
  }

  a,
  a:visited,
  a:active {
    color: white;
  }
</style>
