---
import { getEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import Card from '../components/Card.astro';

const videos = await getCollection('videos');
---

<Layout title="Not a rabbit hole.">
	<main>
		{
			videos.map((video) => <Card video={video} />)
		}
	</main>
</Layout>
