---
interface Props {
  video: CollectionEntry<'videos'>;
}

import type { CollectionEntry } from 'astro:content';
import Tags from './Tags.astro';
import SourceLink from './SourceLink.astro';
import PageLinkButton from './PageLinkButton.astro';

// `post` will match your 'blog' collection schema type
const { video } = Astro.props;
const { Content } = await video.render();
---

<div class="card">
  <div class:list={['video-wrapper', `${video.data.platform}`]}>
    <Content />
  </div>
  <div class="meta">
    <div class="title">
      {video.data.title}
    </div>
    <div class="link-block">
      <PageLinkButton slug={video.slug} />
      <SourceLink
        platform={video.data.platform}
        link={video.data['source-link']}
      />
    </div>
    <Tags tags={video.data['video-tags']} />
  </div>
</div>
<style>
  .card {
    margin-bottom: 2rem;
    background-color: var(--less-black);
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  .meta {
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .title {
    text-align: left;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }

  .link-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    text-align: right;
    margin-bottom: 1.5rem;
  }
</style>
