---
interface Props {
  video: CollectionEntry<'videos'>;
}

import type { CollectionEntry } from 'astro:content';

// `post` will match your 'blog' collection schema type
const { video } = Astro.props;
const { Content } = await video.render();
---
<div class:list={[ 'video-wrapper', `${video.data.platform}` ]}>
  <Content />
</div>
