---
interface Props {
  slug: string;
}

import Button from './Button.astro';

const { slug } = Astro.props;
---

<div class="page-link-block">
  <Button href={`/videos/${slug}`} text="More info" />
</div>
<style>
  .page-link-block {
    order: 2;
    padding-left: 1rem;
  }
</style>
