---
interface Props {
  platform: string;
  link: string;
}

import Button from './Button.astro';

const { platform, link } = Astro.props;
const text = `Watch on ${platform}`
---

<div class="source-link-block">
  <Button href={link} text={text} platform={platform} />
</div>
<style>
  .source-link-block {
    margin-bottom: 1rem;
  }
</style>
