---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---
<ul class="tags">
  {
    tags.map(tag => (
    <li class="tag"><a href={`/videos/tags/${tag}`}>#{tag}</a></li>
    ))
  }
</ul>
<style>
  .tags {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0;
    margin: 0 -0.25rem;
    font-size: 0.75rem;
  }

  .tag {
    padding: 0 0.25rem;
  }

  .tag a {
    background-color: var(--yellow);
    color: var(--black);
    border-radius: 0.25rem;
    padding: 0.25rem 0.25rem;
  }
</style>
